<%= stylesheet_link_tag "categories", "data-turbo-track": "reload" %>
<% categories = Category.where(user_id: current_user.id) %>
<%= render partial:"partial/header", locals: {view_name: 'NEW TRANSACTION', sort: false, back_view: true, id: params[:id]} %>
<%= render "flash/flash" %>
<h2 class="operation-title">Add new transaction </h2>
<%= form_with model:@expense,url: expenses_path ,method: :post,class:'form-cat' ,local: true, scope: :expense do |f| %>
    <%= f.text_field :name, placeholder:'Transaction Name', class:'input-look', required: :true %>
    <%= f.number_field :amount, placeholder:'Transaction amount', class:'input-look', required: :true %>
    <%= f.text_field :icon, placeholder:'Icon URL', class:'input-look', value:'' %>
    <div class="categories-expenses">
       <p class="categories-qestion"> Select categories in which can belong this transaction: </p>
       <% categories.each do |cat| %>
         <div class="option">
           <%= f.check_box :"#{cat.id}" %>
           <%= f.label :"#{cat.id}", cat.name  %>
         </div>
       <% end %>
       
    </div>
    <div class="sign-up">
      <%= f.submit "SAVE", class:'sign-up-btn' %>
    </div>
<% end %>